.navbar
{
    background-color: #b5a642; /* Brass color for Navigation bar*/

}

.navbar-brand   /* Navigation Bar Social Media Logos*/
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item .btn   /* Navigation Bar Heading*/
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #b5a642;;
    color: white;
}


body{
    background-color:black;  /* Overall Body styling*/
}

 .about_box
{
  /* border: 1px solid green; 
  padding: 1px; 
  margin: 2px; */
  margin-bottom: 25px;
  margin-top: 25px;
} 

#about
{
    background-color: white;  /* About paragraph*/
}

#information
{
    background-color: white; /* information and drop down section*/
    
}

#leaflet_map
{
    background-color: white; /* Map section*/
}

#age
{
    background-color: white; /* Age section*/
}

#gender
{
    background-color: white; /*gender section*/
}

.page-footer /* page bottom*/
{
    height:100%;
    /* background-color: rgb(177, 137, 8); Golden shade */
    background-color: #b5a642; /* Brass color*/
}

.page-footer a  /* page bottom links*/
{
   color: white; 
}

 .float-right /* setting image position to top right, setting height and width*/
{
    position: absolute;
    margin-right: 20px;
    margin-top: 30px;
    top: 15px;
    right: 25px; 
    height:300px;
    width:220px;
} 
