.navbar
{
    background-color: #b5a642; /* Brass color for Navigation bar*/

}

.navbar-brand  /* Navigation Bar Social Media Logos*/
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item .btn    /* Navigation Bar Heading*/
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #b5a642;;
    color: white;
}

#click_me  /* button in about para to display and hide image*/
{
    background-color: #b5a642;;
    color: white;
    border: 10px #b5a642;
    border-radius: 2px;
}


body{
    background-color:black;  /* Overall Body styling*/
}

 .about_box
{
  /* border: 1px solid green; 
  padding: 1px; 
  margin: 2px; */
  margin-bottom: 25px;
  margin-top: 25px;
} 

#about
{
    background-color: white;  /* About paragraph*/
}

#information
{
    background-color: white; /* information and drop down section*/
    
}

#leaflet_map
{
    background-color: white; /* Map section*/
}

#age
{
    background-color: white; /* Age section*/
    font-size: 16px;
}

#map
{
    height: 600px;
}
#gender
{
    background-color: white; /*gender section*/
    font-size: 16px;
}

.page-footer /* page bottom*/
{
    height:100%;
    /* background-color: rgb(177, 137, 8); Golden shade */
    background-color: #b5a642; /* Brass color*/
}

.page-footer a  /* page bottom links*/
{
   color: white; 
}

 .float-right /* setting image position to top right, setting height and width*/
{
    position: absolute;
    margin-right: 20px;
    margin-top: 30px;
    top: 15px;
    right: 25px; 
    height:300px;
    width:220px;
} 

.float-down  /* setting image position to the bottom right for tie up winners, setting height and width*/
{
    height: 300px;
    width: 220px;
    position: absolute;
    margin-bottom: 30px;
    margin-right: 30px;
    /* margin-top: 1px;  */
    bottom: 8px;
    right:16px;
}

.panel
{
    border-color:  black;
    
}

.panel-title  /*just the panel title area , not complete panel heading*/
{
    background-color: #b5a642;
    color: white;
    
}

/* .panel-heading
{
    background-color:#b5a642;
} */

.side_headings  /*left side panel headings*/
{
    
    background-color: #b5a642;
    padding:10px;
    color: white;
    border-radius: 4px;
    /* margin: 10px; */

}

#category  /*drop downs*/
{
   
     padding: 10px;
     margin-left: 15px;
     margin-right: 40px;
    
}

#years /*drop downs*/
{
    padding: 10px;
    margin-left: 60px;
    margin-right: 50px;
}

/* .dropdown-content a:hover {background-color: green;} */

#category:hover, #years:hover  /*dropdown-content colors} */
{
    color: #b5a642 ;
    overflow: hidden;
    /* background-color: #b5a642; */
 

}
.lis  /*age - gender chart text*/
{
    text-align: justify;
    margin: 4px;
}

.textCategoryActresses /* set color to Pink for all Actresses in text */
{
    color: pink;
}

.textCategoryActors /* set color to Blue for all Actors in text */
{
    color: blue;
}
.textCategoryDirectors /* set color to Green for all Directors in text */
{
    color: green;
}

 .workflow_image  /* image in about para to display at center */
{
    text-align: center;
}  